  <div id="infoWindowContent">
    <div id="titleAndAuthorContainer" class="fullWidth">
      <div id="titleContainer" class="halfWidth"><h1>{{titolo}}</h1></div>
      <div id="authorContainer" class="halfWidth">{{autore}}</div>
    </div>
    <div id="placeContainer" class="fullWidth">{{luogo}}</div>
    <div id="descriptionContainer" class="fullWidth">{{descrizione}}</div>
    <div id="playerContainer" class="fullWidth"></div>
  </div>
